# Ignore these
*_data.pkl
data_train.pkl
data_val.pkl
data_test.pkl
trained_models/
training_results/
*.png
*.pkl
*.h5
*.zip
*.txt
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
.idea/

# File types
*_data.pkl
*.png
#*.pkl
#*.h5
.DS_Store
.vscode/
# vscode settings
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# Pyre type checker
.pyre/

# Mac OS hidden
.DS_Store
